{% extends 'base.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block body %}




    <div class="container mt-4">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ path('app_product_create') }}" class="btn btn-primary mt-4">
                + Créer un produit
            </a>
        {% endif %}
        <div class="row mt-4">
            <div class="col-md-3">
                {% include 'home/partials/filter.html.twig' with {form: form} only %}
            </div>
            <div class="col-md-9">
                <div class="card-group">
                    {% if products is not empty %}
                        {% for product in products %}
                            {% include 'home/partials/product.html.twig' with {product: product} only%}
                        {% endfor %}
                    {% else %}
                        <h4>Aucun produit trouvé !</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>





{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/{{ asset('css/style.css') }}">
{% endblock %}