<div class="swiper-slide">
    <a href="#">
        <div class="swiper-slide__card">
            <img class="swiper-slide__card-img" src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ image.filePath }}">
        </div>
    </a>
</div>